In [1]:
import os 
import pandas as pd
#import gmaps
import requests

from config import Api_Key

In [2]:
file = "Resources/Road_Crashes_for_five_Years_-_Victoria.csv"

main_df = pd.read_csv(file)

main_df.head()

,X,Y,objectid,accident_no,abs_code,accident_status,accident_date,date_value,Daily_Rainfall,accident_time,...,deg_urban_all,lga_name_all,region_name_all,srns,srns_all,rma,rma_all,divided,divided_all,stat_div_name
0,2498217.170,2454870.252,1,T20140013514,ABS to receive accident,Unfinished,1/7/2014,41821,0.6,13:09:00,...,TOWNS,MITCHELL,NORTHERN REGION,B,B,Arterial Highway,"Local Road,Arterial Highway",Undivided,Undivided,Country
1,2502934.960,2423005.289,2,T20140013549,ABS to receive accident,Finished,2/7/2014,41822,0.0,0:01:00,...,MELB_URBAN,WHITTLESEA,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,Arterial Other,Undivided,Undivided,Metro
2,2520154.039,2395621.674,3,T20140013561,ABS to receive accident,Finished,2/7/2014,41822,0.0,8:30:00,...,MELB_URBAN,KNOX,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Local Road,Local Road,Undivided,Undivided,Metro
3,2473719.463,2402357.319,4,T20140013563,ABS to receive accident,Finished,2/7/2014,41822,0.0,10:08:00,...,MELB_URBAN,WYNDHAM,METROPOLITAN NORTH WEST REGION,C,C,Arterial Other,"Arterial Other,Local Road",Divided,"Undivided,Divided",Metro
4,2484073.998,2409123.682,5,T20140013567,ABS to receive accident,Finished,2/7/2014,41822,0.0,9:12:00,...,MELB_URBAN,WYNDHAM,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,"Arterial Other,Local Road",Undivided,Undivided,Metro

In [3]:
#Print a list of columns, so we can find out which column we need
print(main_df.columns.tolist())

['X', 'Y', 'objectid', 'accident_no', 'abs_code', 'accident_status', 'accident_date', 'date_value', 'Daily_Rainfall', 'accident_time', 'alcoholtime', 'accident_type', 'day_of_week', 'dca_code', 'hit_run_flag', 'light_condition', 'police_attend', 'road_geometry', 'severity', 'speed_zone', 'run_offroad', 'node_id', 'longitude', 'latitude', 'node_type', 'lga_name', 'region_name', 'vicgrid_x', 'vicgrid_y', 'total_persons', 'inj_or_fatal', 'fatality', 'seriousinjury', 'otherinjury', 'noninjured', 'males', 'females', 'bicyclist', 'passenger', 'driver', 'pedestrian', 'pillion', 'motorist', 'unknown', 'ped_cyclist_5_12', 'ped_cyclist_13_18', 'old_pedestrian', 'old_driver', 'young_driver', 'alcohol_related', 'unlicencsed', 'no_of_vehicles', 'heavyvehicle', 'passengervehicle', 'motorcycle', 'publicvehicle', 'deg_urban_name', 'deg_urban_all', 'lga_name_all', 'region_name_all', 'srns', 'srns_all', 'rma', 'rma_all', 'divided', 'divided_all', 'stat_div_name']

In [7]:
#Hey guys, i've created a new DataFrame, and took out some of the columns. 
#Feel free to delete more, I didn't limit the columns to our discussed topics, as there maybe more ideas later and we may use the extra columns

crash_df = main_df[['accident_no',  'accident_date', 'date_value', 
                      'Daily_Rainfall', 'accident_time', 'alcoholtime', 
                      'accident_type', 'day_of_week', 'dca_code', 
                      'hit_run_flag', 'light_condition', 'police_attend', 
                      'road_geometry', 'severity', 'speed_zone', 
                      'run_offroad', 'longitude', 'latitude', 
                      'lga_name', 'region_name', 'total_persons', 
                      'inj_or_fatal', 'fatality', 'seriousinjury', 
                      'otherinjury', 'noninjured', 
                      'males', 'females',  
                      'alcohol_related','stat_div_name']]

In [8]:
crash_df.head()

,accident_no,accident_date,date_value,Daily_Rainfall,accident_time,alcoholtime,accident_type,day_of_week,dca_code,hit_run_flag,...,total_persons,inj_or_fatal,fatality,seriousinjury,otherinjury,noninjured,males,females,alcohol_related,stat_div_name
0,T20140013514,1/7/2014,41821,0.6,13:09:00,No,Collision with vehicle,Monday,RIGHT THROUGH,No,...,4.0,1.0,0.0,0.0,1.0,3.0,1.0,3.0,No,Country
1,T20140013549,2/7/2014,41822,0.0,0:01:00,Yes,Collision with vehicle,Wednesday,U TURN,No,...,4.0,3.0,0.0,0.0,3.0,1.0,0.0,3.0,No,Metro
2,T20140013561,2/7/2014,41822,0.0,8:30:00,No,collision with some other object,Wednesday,STRUCK OBJECT ON CARRIAGEWAY,No,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,No,Metro
3,T20140013563,2/7/2014,41822,0.0,10:08:00,No,Collision with vehicle,Wednesday,CROSS TRAFFIC(INTERSECTIONS ONLY),Yes,...,3.0,1.0,0.0,0.0,1.0,2.0,2.0,1.0,No,Metro
4,T20140013567,2/7/2014,41822,0.0,9:12:00,No,Collision with vehicle,Wednesday,RIGHT THROUGH,No,...,2.0,1.0,0.0,0.0,1.0,1.0,2.0,0.0,No,Metro

In [9]:
#---------Proposed topics---------
#-       Suburb vs accident numbers, display on Gmap (AJ)
#-       Days of the week vs Accident numbers (SK)
#-       Number of accident vs suburb (AJ)
#-       Number of accident vs Region 
#-       Light condition (groupby) vs number of accident... 
#                 -what else could be closely related to light condition (Corrolation/Linea regression)
#-       Nearest hospital vs suburbs that have the highest accident (Google Place API, Gmap) (JD)
#-       Multi-line plot for Type of accident, over the 5 years (AJ)
#-       Alcohol vs Dead end ["road_geometry"] (for fun!) (KK)
#-       Rainfall vs accident numbers (SK)
#-       Rainfall vs hit and run (KK)