In [1]:
import os 
import pandas as pd
import gmaps
import requests

from config import google_key

In [2]:
file = "Resources/Road_Crashes_for_five_Years_-_Victoria.csv"

main_df = pd.read_csv(file)

main_df.head()

,X,Y,objectid,accident_no,abs_code,accident_status,accident_date,date_value,Daily_Rainfall,accident_time,...,deg_urban_all,lga_name_all,region_name_all,srns,srns_all,rma,rma_all,divided,divided_all,stat_div_name
0,2498217.170,2454870.252,1,T20140013514,ABS to receive accident,Unfinished,1/7/2014,41821,0.6,13:09:00,...,TOWNS,MITCHELL,NORTHERN REGION,B,B,Arterial Highway,"Local Road,Arterial Highway",Undivided,Undivided,Country
1,2502934.960,2423005.289,2,T20140013549,ABS to receive accident,Finished,2/7/2014,41822,0.0,0:01:00,...,MELB_URBAN,WHITTLESEA,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,Arterial Other,Undivided,Undivided,Metro
2,2520154.039,2395621.674,3,T20140013561,ABS to receive accident,Finished,2/7/2014,41822,0.0,8:30:00,...,MELB_URBAN,KNOX,METROPOLITAN SOUTH EAST REGION,NaN,NaN,Local Road,Local Road,Undivided,Undivided,Metro
3,2473719.463,2402357.319,4,T20140013563,ABS to receive accident,Finished,2/7/2014,41822,0.0,10:08:00,...,MELB_URBAN,WYNDHAM,METROPOLITAN NORTH WEST REGION,C,C,Arterial Other,"Arterial Other,Local Road",Divided,"Undivided,Divided",Metro
4,2484073.998,2409123.682,5,T20140013567,ABS to receive accident,Finished,2/7/2014,41822,0.0,9:12:00,...,MELB_URBAN,WYNDHAM,METROPOLITAN NORTH WEST REGION,NaN,NaN,Arterial Other,"Arterial Other,Local Road",Undivided,Undivided,Metro

In [13]:
sub_accid_df = main_df[["accident_date", "accident_no", "lga_name", "latitude","longitude"]]

In [4]:
sub_accid_df.head()

  accident_date   accident_no    lga_name
0      1/7/2014  T20140013514    MITCHELL
1      2/7/2014  T20140013549  WHITTLESEA
2      2/7/2014  T20140013561        KNOX
3      2/7/2014  T20140013563     WYNDHAM
4      2/7/2014  T20140013567     WYNDHAM

In [8]:
sub_accid_grouped = sub_accid_df.groupby("lga_name")
count_accid = sub_accid_grouped["accident_no"].count()

In [11]:
print(count_accid)

lga_name
                    596
(FALLS CREEK)        11
(FRENCH ISLAND)       2
(LAKE MOUNTAIN)      12
(MOUNT BAW BAW)       4
                   ...
WODONGA             339
WYNDHAM            1784
YARRA              1769
YARRA RANGES       2249
YARRIAMBIACK         70
Name: accident_no, Length: 91, dtype: int64